*{
    padding: 0;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
}
li{
    padding: 10px;
    font-size: 30px;
    transition: 0.5s;
}
li:hover{
    transform: scale(1.2);
    cursor: pointer;
}