h1, h2{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
table{
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
    color: black;
    background-color: #fafafa;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 20px;
}
th, td{
    border: 1px solid #ccc;
    padding: 12px 14px;
    text-align: center;
}
th{
    background-color: #f0f0f0;
}
input{
    padding: 10px;
    box-sizing: border-box;
}
button{
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
}
.map{
    width: 70%;
    height: 400px;
    margin: 2rem auto;
}