h1{
    text-align: center;
    margin: 10px;
}
form{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
input, label{
    margin: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
label{
    font-size: 30px;
}
button{
    font-size: 25px;
}